<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nutri</title>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/inicio.css">
    <link rel="stylesheet" href="~/css/dieta.css">
    <link rel="stylesheet" href="~/css/novaDieta.css">
</head>
<body>
    <div class="container">   
        @RenderBody()

        <footer class="border-top footer text-center">
            &copy; 2020 - Nutri++
        </footer>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
<<<<<<< HEAD
    <script src="~/js/addProduto.js"></script>
=======

>>>>>>> e0dc07d16b35f7ae97f3e18205869da38f9095a8
    @RenderSection("Scripts", required: false)
</body>
</html>
