
<div class="container">
    <header class="grid-column1">
      <h1 class="logo">Nutri++</h1>
      <nav>
        <ul>
          <li><a asp-area="" asp-controller="Dieta" asp-action="Index">INÍCIO</a></li> 
          <li><a asp-area="" asp-controller="Dieta" asp-action="Create">NOVA DIETA</a></li>
          <li><a asp-area="" asp-controller="FichaTecnica" asp-action="Create">Ficha de Preparo</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="Index">LOGOUT</a></li>
        </ul>
      </nav>
    </header>

    <main class="grid-column2">
      <h1 class="nome-dieta">Café da Manhã</h1>
      <div class="produtos">
        <h2>Produtos</h2>
        <div class="produto">
          <p class="nome-produto">Leite</p>
          <div>
            <p class="title">Carboidrato</p>
            <p>20g</p>
          </div>
          <div>
            <p class="title">Proteína</p>
            <p>12g</p>
          </div>
          <div>
            <p class="title">Gordura</p>
            <p>8g</p>
          </div>
          <div class="quantidade">
            <p class="title">Qtd/grama</p>
            <p class="qtd-grama">100g</p>
          </div>
          <div class="valor-qtd">
            <p class="title">Valor</p>
            <p class="preco">R$ 0,89</p>
          </div>
        </div>

        <div class="produto">
          <p class="nome-produto">Leite</p>
          <div>
            <p class="title">Carboidrato</p>
            <p>20g</p>
          </div>
          <div>
            <p class="title">Proteína</p>
            <p>12g</p>
          </div>
          <div>
            <p class="title">Gordura</p>
            <p>8g</p>
          </div>
          <div class="quantidade">
            <p class="title">Qtd/grama</p>
            <p class="qtd-grama">100g</p>
          </div>
          <div class="valor-qtd">
            <p class="title">Valor</p>
            <p class="preco">R$ 0,89</p>
          </div>
        </div>

        <div class="produto">
          <p class="nome-produto">Leite</p>
          <div>
            <p class="title">Carboidrato</p>
            <p>20g</p>
          </div>
          <div>
            <p class="title">Proteína</p>
            <p>12g</p>
          </div>
          <div>
            <p class="title">Gordura</p>
            <p>8g</p>
          </div>
          <div class="quantidade">
            <p class="title">Qtd/grama</p>
            <p class="qtd-grama">100g</p>
          </div>
          <div class="valor-qtd">
            <p class="title">Valor</p>
            <p class="preco">R$ 0,89</p>
          </div>
        </div>

        <div class="produto">
          <p class="nome-produto">Leite</p>
          <div>
            <p class="title">Carboidrato</p>
            <p>20g</p>
          </div>
          <div>
            <p class="title">Proteína</p>
            <p>12g</p>
          </div>
          <div>
            <p class="title">Gordura</p>
            <p>8g</p>
          </div>
          <div class="quantidade">
            <p class="title">Qtd/grama</p>
            <p class="qtd-grama">100g</p>
          </div>
          <div class="valor-qtd">
            <p class="title">Valor</p>
            <p class="preco">R$ 0,89</p>
          </div>
        </div>

        <div class="produto">
          <p class="nome-produto">Leite</p>
          <div>
            <p class="title">Carboidrato</p>
            <p>20g</p>
          </div>
          <div>
            <p class="title">Proteína</p>
            <p>12g</p>
          </div>
          <div>
            <p class="title">Gordura</p>
            <p>8g</p>
          </div>
          <div class="quantidade">
            <p class="title">Qtd/grama</p>
            <p class="qtd-grama">100g</p>
          </div>
          <div class="valor-qtd">
            <p class="title">Valor</p>
            <p class="preco">R$ 0,89</p>
          </div>
        </div>

        <div class="produto">
          <p class="nome-produto">Leite</p>
          <div>
            <p class="title">Carboidrato</p>
            <p>20g</p>
          </div>
          <div>
            <p class="title">Proteína</p>
            <p>12g</p>
          </div>
          <div>
            <p class="title">Gordura</p>
            <p>8g</p>
          </div>
          <div class="quantidade">
            <p class="title">Qtd/grama</p>
            <p class="qtd-grama">100g</p>
          </div>
          <div class="valor-qtd">
            <p class="title">Valor</p>
            <p class="preco">R$ 0,89</p>
          </div>
        </div>
      </div>
      <div class="botoes">
        <button class="editar">Editar</button>
        <button class="excluir">Excluir</button>
      </div>
    </main>
</div>