

<main class="grid-column2">
  <div class="resumo">
    <h2>Resumo</h2>
    <div>
      <p class="calorias">2.539g</p>
      <p class="text-calorias">Calorias</p>
    </div>
    <div class="info-nutri">
      <div>
        <p class="carboidrato">200g</p>
        <p class="text-nutri">Carboidrato</p>
      </div>
      <div>
        <p class="proteina">199g</p>
        <p class="text-nutri">Proteína</p>
      </div>
      <div>
        <p class="gordura">90g</p>
        <p class="text-nutri">Gordura</p>
      </div> 
    </div>
  </div>

  <div class="refeicoes">
    <h2>Refeições</h2>
    <a href="dieta.html"><div class="item">
      <p class="titulo">Café da Manhã</p>
      <div>
        <p class="total-calorias">Total Calorias</p>
        <p class="valor">280g</p>
      </div>
      <div>
        <p class="custo-total">Custo da Refeição</p>
        <p class="valor">R$ 80,00</p>
      </div>
    </div></a>

    <div class="item">
      <p class="titulo">Café da Manhã</p>
      <div>
        <p class="total-calorias">Total Calorias</p>
        <p class="valor">280g</p>
      </div>
      <div>
        <p class="custo-total">Custo da Refeição</p>
        <p class="valor">R$ 80,00</p>
      </div>
    </div>
    <div class="item">
      <p class="titulo">Café da Manhã</p>
      <div>
        <p class="total-calorias">Total Calorias</p>
        <p class="valor">280g</p>
      </div>
    <div>
      <p class="custo-total">Custo da Refeição</p>
      <p class="valor">R$ 80,00</p>
      </div>
    </div>
    <div class="item">
      <p class="titulo">Café da Manhã</p>
      <div>
        <p class="total-calorias">Total Calorias</p>
        <p class="valor">280g</p>
      </div>
      <div>
        <p class="custo-total">Custo da Refeição</p>
        <p class="valor">R$ 80,00</p>
      </div>
    </div>
    <div class="item">
      <p class="titulo">Café da Manhã</p>
      <div>
        <p class="total-calorias">Total Calorias</p>
        <p class="valor">280g</p>
      </div>
      <div>
        <p class="custo-total">Custo da Refeição</p>
        <p class="valor">R$ 80,00</p>
      </div>
    </div>
  </div>
</main>
