
main {
  width: 100%;
  max-width: 74rem;
  border-radius: .8rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
}
.grid-column2 {
  display: grid;
  margin-top: 2rem;
}

.grid-column2 fieldset {
  border: none;
  padding: 0 2.4rem;
}

.grid-column2 fieldset legend {
  font-size: 2.8rem;
  font-weight: 700;
  color: #32264D;
  margin-bottom: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #E6E6F0;
}

.grid-column2 fieldset legend button {
  background: none;
  border: 0;
  color: green;
  font-size: 2rem;
  cursor: pointer;

  transition: 0.2s;
}

.grid-column2 fieldset+fieldset {
  margin-top: 6.4rem;
}

.grid-column2 .input-block+.input-block {
  margin-top: 2.4rem;
}

.input-block label {
  font-size: 2.4rem;
  color: #9C98A6;
}

.input-block input {
  width: 100%;
  height: 5.4rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: #F8F8FC;
  border: 1px solid green;
  outline: 0;
  padding: 0 1rem;
  font-size: 2.1rem;
}

.input-block {
  position: relative;
}

.input-block input:focus {
  border: 3px solid green;
}

.grid-column2 footer {
  padding: 4rem 2.4rem;

  background:  #FAFAFC;
  border-top: 1px solid #E6E6F0;
  margin-top: 6.4rem;
}

.grid-column2 footer p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #9C98A6;
}

.grid-column2 footer p img {
  margin-right: 2rem;
}

.grid-column2 footer button {
  width: 100%;
  height: 5.6rem;
  background: #04D361;
  color: white;
  border: 0;
  border-radius: .8rem;
  cursor: pointer;
  font-size: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  transition: 0.2s;
  margin-top: 3.2rem;
}

.grid-column2 footer button:hover {
  background: #04BF58;
}

.schedule-item+.schedule-item {
  margin-top: 3.2rem;
  padding-top: 3.2rem;

  border-top: 1px solid #E6E6F0;
}